<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Swords&Spells</title>
</head>
<body>
    <div class="content-wrapper">
        <div class="content">$screen_content</div>
    </div>
</body>
</html>