** RSS $channel.title, visit $channel.link
*******************************************
$channel.description
*******************************************
#foreach ($item in $channel.items)
  + $item.pubDate: $item.title, visit $item.link
    $item.description

#end