<h1>Register</h1>
<div class="form">
    <form method="POST">

        <div class="row">
            <label for="name">Real Name:</label>
            #springFormInput( "form.name" "" )
            <div class="errors">#springShowErrors( "<br>" "error" )</div>
        </div>

        <div class="row">
            <label for="nicknameInput">Nickname:</label>
            #springFormInput( "form.nickname" "" )
            <div class="errors">#springShowErrors( "<br>" "error" )</div>
        </div>

        <div class="row">
            <label for="emailInput">E-mail:</label>
            #springFormInput( "form.email" "" )
            <div class="errors">#springShowErrors( "<br>" "error" )</div>
        </div>

        <div class="row">
            <label for="passwordInput">Password:</label>
            #springFormPasswordInput( "form.password" "" )
            <div class="errors">#springShowErrors( "<br>" "error" )</div>
        </div>

        <div class="row">
            <label for="passwordConfirmationInput">Confirm password:</label>
            #springFormPasswordInput( "form.passwordConfirmation" "" )
            <div class="errors">#springShowErrors( "<br>" "error" )</div>
        </div>

        <div class="row footer">
            <input type="submit" id="registerButton" name="register" value="Register">
        </div>

    </form>
</div>
